<h1 class="top-word">ようこそ Bookersへ!</h1>
<div class="top-content">
  <p>
    <span>Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
    印象を共有し交換することができます
  </p>
</div>
<div class="link-start"><%= link_to "start",books_path %></div>