/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

.top-word {
  margin-left: 30px;
}

.top-content {
  margin-left: 45px;
  line-height: 65px;
}

.link-start {
  margin-left: 45px;
}

.index-contents {
  margin-left: 30px;
}

td {
  padding-right: 10px;
  padding-bottom: 8px;
}

.create-book {
  display: block;
}

.edit-contents {
  margin-left: 30px;
}

.update-book {
  display: block;
}

.link-show {
  border-right: 1px solid black;
  display: inline-block;
  color: black;
  padding-right: 5px;
}

.notifications {
  color: green;
  padding-top: 30px;
  padding-left: 30px;
}

.title-body {
  margin-left: 30px;
}

.title {
  display: inline-block;
}

.book-title {
  display: inline-block;
}

.Body-record {
  margin-top: 20px;
  margin-bottom: 20px;
}

.body {
  display: inline-block;
}

.book-body {
  display: inline-block;
}

.link-tag {
  margin-left: 20px;
}

.link-edit {
  border-right: 1px solid black;
  display: inline-block;
  color: black;
  padding-right: 5px;
}

.link-back {
  display: inline-block;
  color: black;
}