<% if model.errors.any? %>
  <div class = "alert">
    <p>errorが発生しました</p>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>